
.ReactCollapse--collapse {
    transition: height 500ms;
}
.about{
    background-image: url(./assets/Rectangle.png);
}
.footer{
    background-image: url(./assets/eggs.jpg);
    background-size: cover;
    background-position: center;
}
.swiperImage{
    background-image: url(./assets/4e04e13a12171d7b7ef85748639524b8.png);
    background-position: center;
    background-size: cover;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
.swiper-button-prev {
    color: red; 
}