
.ReactCollapse--collapse {
    transition: height 500ms;
}
.about{
    background-image: url(./assets/Rectangle.png);
}
.footer{
    background-image: url(./assets/eggs.jpg);
    background-size: cover;
    background-position: center;
}
